/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 8.5in;
    margin: 0 auto;
    padding: 0.5in;
    background: white;
}

span {
    line-height: normal;
}

/* Typography */
h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 1.6rem;
    color: #2c3e50;
    border-bottom: 2px solid #2c3e50;
    margin-bottom: 0.5rem;
    padding-bottom: 0.25rem;
}

h1, h2 {
    margin-top: 1.7rem;
    margin-bottom: 0.7rem;
}


h3, h4{
    margin-top: 1.2rem;
    margin-bottom: 0.5rem;
}

/* Layout Components */
section {
    margin-bottom: 1.5rem;
}

.header {
    text-align: center;
    margin-bottom: 1rem;
}

.title {
    font-variant: small-caps;
    font-size: 1.2rem;
}

.contact-info {
    font-size: 0.9rem;
    color: #666;
}

/* Experience & Education Components */
.item {
    margin-bottom: 0.4rem;
}

.item-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.25rem;
}

.item-title {
    font-weight: bold;
}

.item-date {
    color: #666;
}

.item-subtitle {
    color: #666;
}

/* Skills Section */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}


/* Optional: Dark mode styles */
@media (prefers-color-scheme: dark) {
    body, html {
        color: #e1e1e1;
        background: #1a1a1a;
    }
    
    h2 {
        color: #89b4d4;
        border-bottom-color: #89b4d4;
    }
    
    .contact-info,
    .item-date,
    .item-subtitle {
        color: #999;
    }
}



/* Print-specific styles */
@media print {
    @page {

        margin-top: 2cm;
        margin-right: 2cm;
        margin-bottom: 2cm;
        margin-left: 2cm;
    }


    /* Ensure links are readable in print */
    a {
        text-decoration: none !important;
    }


}




